<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiking Portal</title>
    <!-- Link to Milligram CSS via CDN for simplicity -->
    <link href="{{ url_for('static', filename='css/milligram.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Hiking Portal</h1>

        <div class="row">
            <div class="column">
                <h3>Last Session</h3>
                <p>Kilometers: {{ sessions[0].km }}</p>
                <p>Steps: {{ sessions[0].steps }}</p>
                <p>Burnt Kcal: {{ sessions[0].burnt_kcal }}</p>
            </div>
            <div class="column">'
                <h3>Sessions</h3>

                <table>
                    <tr>
                        <th>Session ID</th>
                        <th>KM</th>
                        <th>Steps</th>
                        <th>Burnt Kcal</th>
                    </tr>
                    {% for session in sessions %}
                    <tr>
                        <td>{{ session.session_id }}</td>
                        <td>{{ session.km }}</td>
                        <td>{{ session.steps }}</td>
                        <td>{{ session.burnt_kcal }}</td>
                    </tr>
                    {% endfor %}
                </table>
            
            </div>
        </div>
        <!-- Outlined Button -->
        <button class="button button-outline">Update</button>
    </div>
</body>
</html>